<% layout('layouts/boilerplate')%>
   
     <div class="row">
        <h1 class="text-center">Edit Road</h1>
        <div class="col-6 offset-3">
            <form action="/Roads/<%=road._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data" required>

                <!-- input title -->
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="road[title]" value="<%=road.title%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <!-- input location -->
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="road[location]" value="<%=road.location%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <!-- input rating -->
                <div class="mb-3">
                    <label class="form-label" for="rating">Road Rating</label>
                    <div class="input-group">
                        <span class="input-group-text" id="rating-label"><i class="fas fa-star"></i></span>
                        <input type="text" class="form-control" id="rating" placeholder="0-5" aria-label="Rating" aria-describedby="rating-label" name="road[rating]" 
                            value="<%= road.rating %>" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                    </div>
                </div>

                <!-- input description -->
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="road[description]" required><%= road.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <!-- input image url -->
                <div class="input-group mb-3">
                    <label class="input-group-text text-muted" for="image">Add More Image(s):</label>
                    <input type="file" class="form-control" id="image" name="image" multiple>
                </div>
                <div class="mb-3">
                    <% road.images.forEach(function(img, i){ %>
                        <img src="<%= img.url %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                    <% }) %>
                </div>
                <div class="mb-3">
                   <button class="btn btn-info">Update Road</button>
                </div>
            </form>
            <a href="/Roads/<%= road._id%>">Back to Road</a>
        </div>
    </div>
