<% layout('layouts/boilerplate')%>
    <h1>Road Collection</h1>
    <div>
        <a href="/Roads/new">Add Road</a>
    </div>

        <% for (let road of roadCollection) {%>
            <div class='card' mb-3>
                <div class='row'>
                    <div class='col-md-4'>
                        <%if(road.images.length) {%>
                        <img class="img-fluid" alt="" src="<%=road.images[0].url%>">
                        <% }else { %>
                            <img class="img-fluid" alt="" src="https://images.unsplash.com/photo-1563242152-568e5de6f2b8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aGlnaHdheXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80">

                        <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= road.title %> </h5>
                            <p class="card-text"><%= road.description %></p>
                            <p class="card-text">
                                <small class="text-muted"><%= road.location %></small>
                            </p>
                            <a class="btn btn-primary" href="/Roads/<%= road._id %>">View <%= road.title %></a>
                        </div>
                    </div>
                </div>
            </div>
        <% }%>

