<% layout('layouts/boilerplate')%>
    <h1><%= road.title %></h1>
    <h2><%= road.location %></h2>
    <img src="<%= road.image %>" alt="">
    <p> <%= road.description %> </p>

    <p>       
        <a href="/Roads/<%=road._id%>/edit">Edit</a>
    </p>

    <p>
        <form action="/Roads/<%=road._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/Roads">List of all roads</a>
    </footer>
